.checkbox_group {
  position: relative;
  padding-top: 1px;
  display: flex;
  align-items: center;
  min-height: 26px;
  margin: 10px 0;
  cursor:pointer;

  .group_label {
    user-select: none;
    padding-left: 36px;
  }

  input[type=checkbox] + .icm {
    font-weight: $fontMedium;
    font-size: $base_fs - 2;
    color: $color_white;
    display: flex;
    align-items: center;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + .icm:after {
    position: absolute;
    left: 0;
    top: calc(50%);
    transform: translateY(-50%);
    content: '';
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 3px;
    margin-right: 10px;
    z-index: 1;
    transition: .2s;
    border: 0;
    background-color: red;
    border-radius: 5px;
  }

  input[type=checkbox] + .icm:before {
    position: absolute;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    color: red;
    left: 0;
    z-index: 2;
    font-size: $sm_fs;
    padding-left: 5px;
    padding-top: 3px;
    transition: .2s;
    background-color: transparent;
  }

  input[type=checkbox]:checked + .icm:after {
    background-color: $color_white;
  }

  input[type=checkbox]:checked + .icm:before {
    color: red;
  }

}

