.input_group {
  max-width: 400px;

  &.is-invalid {
    input {
      border-color: $invalid;
    }

    .invalid {
      margin-top: 4px;
      display: block;
      color: $invalid;
      font-size: $sm_fs;
    }
  }

  .group_label {
    font-weight: $fontMedium;
    font-size: $sm_fs;
    line-height: 1.5;
    color: red;
    margin-bottom: 5px;
  }

  input {
    cursor: text;
    border: 0;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    line-height: 1;
    display: flex;
    align-items: center;
    color: grey;;
    width: 100%;
    min-width: 150px;
    font-size: $base_fs + 2px;

    font-weight: $fontMedium;
    background: $color_white;
    box-shadow: 0px 2px 4px rgba(0, 44, 93, 0.266991), 0px 5px 17px rgba(0, 44, 93, 0.115412);
    border-radius: 5px;

    &:focus, &:active {
      outline: 0;
      border-bottom-color: blue;
    }

    &::placeholder {
      color: grey;
      opacity: 1;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: grey;;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

/*

.contact_input_group {
  max-width: 380px;

  &.is-invalid {
    input {
      border-color: $invalid;
    }

    .invalid {
      margin-top: 4px;
      display: block;
      color: $invalid;
      font-size: $sm_fs;
    }
  }

  .group_label {
    font-weight: $fontMedium;
    font-size: $sm_fs;
    line-height: 1.4;
    margin-bottom: 5px;
    display: block;
  }

  input {
    color: grey;;
    border-radius: 10px;
    height: 56px;
    cursor: pointer;
    padding: 12px 15px;
    line-height: 1;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(74, 144, 226, 0.166139);
    font-size: $base_fs;

    &:focus, &:active {
      outline: 0;
      border-color: blue;

    }

    &::placeholder {
      color: var(--input-placeholder-color);
      opacity: 1;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: grey;;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
*/
