//FONT
$baseFontFamily: 'Montserrat', sans-serif;
$fontMerriweather: 'Montserrat', sans-serif;

$fontIcomoon: "icomoon" !default;

$icon__arrow_down: "\e900";
$icon__arrow_thin: "\e901";
$icon__phone: "\e902";
$icon__quote: "\e903";
$icon__arrow_right_circle: "\e904";
$icon__calendar: "\e905";
$icon__check: "\e906";
$icon__eye: "\e907";

//sizes
$sm_fs: 12px;
$base_fs: 18px;
$md_fs: 42px;
$lg_fs: 64px;

//weights
$fontThin: 100;
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;


//COLORS

$black: #000000;
$invalid: #bb0000;

$color_01: #141414;
$color_02: #E51837;
$color_03: #808080;
$color_04: #ADADAD;
$color_05: #ffffff;




$color_base:#242424;
$color_base_2:#3D352D;
$color_base_3:#F49A3C;

$color_white: #ffffff;
$color_extra_light :#FBFBF8;
$color_green_light:#BDD6B2;

$color_base_grey: #898989;
$color_brown:#6B5C55;
$color_green_dark:#454E41;
$color_grey_dark:#535353;